<h1>Curriculum Vitae</h1>
<div>
    <h3>Jonas Gendebien</h3>
    <p>JONASGENDEBIEN@PROTON.ME | +32485351 406 | LinkedIn</p>
    <p>
        Curious and dynamic IT student with good communication skills and a background in programming and networking.
        Specialties include: Web development, python programming, database management, network management and unix systems.
    </p>
</div>
<div>
    <h2>Skills</h2>
    <h4>Tech</h4>
    <ul>
        <li>Web development (CSS, HTML, JavaScript, Angular, React, NodeJs, SQL)</li>
        <li>Programming (Python, C, Lua, Git, Github, VSCode, Neovim)</li>
        <li>Networking (Wireshark)</li>
        <li>Unix systems (Ubuntu based, Arch, Gentoo)</li>
        <li>Windows systems</li>
        <li>Bash and Shellscript</li>
        <li>Virtualization (Docker, VMWare)</li>
        <li>Microsoft Office suite (Powerpoint, Excell, Word)</li>
        <li>Google search, autonomous learning and information discovery</li>
        <li>DaVinci Fusion 360, Inkscape, Resolve, Figma, Trella, Clockify, Teams</li>
    </ul>
    <h4>Soft</h4>
    <ul>
        <li>Creativity</li>
        <li>Critical thinking</li>
        <li>Communication</li>
        <li>Emotional intelligence</li>
        <li>Conflict management</li>
        <li>Adaptability</li>
        <li>Problem solving</li>
        <li>Teamwork</li>
    </ul>
    <h4>Languages</h4>
    <ul>
        <li>French (native)</li>
        <li>English (C1-C2)</li>
        <li>Spanish (A2-B1)</li>
    </ul>
</div>
<div>
    <h2>Past Relevant Experience</h2>
    <ul>
        <li>Worked with more than 10 clients as freelanced logo designer</li>
        <li>Organised a photo exposition for more than 150 people in less than a week</li>
    </ul>
</div>
<div>
    <h2>Education</h2>
    <p>Ephec Louvain-la-Neuve Technologie de l'informatique</p>
    <p>Expected to graduate in 2025</p>
</div>
<div>
    <h2>Hobbies</h2>
    <ul>
        <li>Speedcubing</li>
        <li>Music (guitar and piano)</li>
        <li>Board games (go and chess)</li>
        <li>Gaming and game design</li>
    </ul>
</div>
