<div class="cv-container">
    <div class="cv-contact">
        <h3>Jonas Gendebien</h3>
        <p>JONASGENDEBIEN@PROTON.ME | +32485351406 | LINKEDIN</p>
    </div>
    <div class="cv-summary">
        <p>
            Curious and dynamic IT student with good communication skills and a background in programming and networking. Interested in very diverse fields and invested in staying up to date with modern technologies.
            Specialties include: full stack Web development with a focus on lightweight systems, programming and problem solving, network management and unix systems.
        </p>
    </div>
    <div class="cv-grid">
        <div class="cv-main-content">
            <div class="cv-section">
                <h2>EDUCATION</h2>
                <p>
                    <strong>Ephec Louvain-la-Neuve</strong> - Technologie de l'informatique
                </p>
                <p>
                    <em>Expected to graduate in 2025</em>
                </p>
            </div>
            <div class="cv-section">
                <h2>PAST RELEVANT EXPERIENCE</h2>
                <ul>
                    <li>Worked with more than 10 clients as freelanced logo designer</li>
                    <li>Organised a photo exposition for more than 150 people in less than a week</li>
                </ul>
            </div>
        </div>
        <div class="cv-sidebar">
            <div class="cv-section">
                <h2>SKILLS</h2>
                <h4>TECH:</h4>
                <ul>
                    <li>Web development (Django, React, Angular, Axum, Wasm, HTMX)</li>
                    <li>Programming (Python, Javascript, rust, C, Lua, Git, Github, VSCode, Neovim)</li>
                    <li>Networking (Wireshark)</li>
                    <li>Unix systems (Ubuntu based, Arch)</li>
                    <li>Bash and Shellscript</li>
                    <li>Virtualization (Docker, VMWare)</li>
                </ul>
                <h4>SOFT:</h4>
                <ul>
                    <li>Creativity</li>
                    <li>Critical thinking</li>
                    <li>Communication</li>
                    <li>Problem solving</li>
                    <li>Teamwork</li>
                    <li>Work under pressur</li>
                </ul>
                <h4>LANGUAGES:</h4>
                <ul>
                    <li>French (native)</li>
                    <li>English (C1-C2)</li>
                    <li>Spanish (A2-B1)</li>
                    <li>Chinese (Currently working toward HSK1)</li>
                </ul>
            </div>
            <div class="cv-section">
                <h2>HOBBIES</h2>
                <ul>
                    <li>Politics and economy (financial times)</li>
                    <li>Speedcubing</li>
                    <li>Music (guitar and piano)</li>
                    <li>Board games</li>
                    <li>Gaming and game design</li>
                </ul>
            </div>
        </div>
    </div>
</div>
