<div class="pp-container">
    <h1>My career plan</h1>
    <section class="pp-section">
        <h2>
            <i class="fas fa-bullseye"></i> Mission Statement
        </h2>
        <p>
            My primary goal is to keep developing my skills while continuing to explore ways of doing things. My main goal is to find a way to work on projects that I am passionated about and possibly with people that I like.
        </p>
        <p>
            My main strenghts to realize this career plan is my curiosity and my thirst for knowledge be it related to it or not. As well as my hability to comunicate or fit in a team. I am also able to work pretty well under pressure which I think might be a plus
        </p>
        <p>
            I am also really motivated about working on my main wearkness : My hability to stay organized. While being on time is not a problem for me I really want to steer toward a healthier work life balance
        </p>
    </section>
    <section class="pp-section">
        <h2>
            <i class="fas fa-road"></i> Career Roadmap
        </h2>
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>Short-Term Goals (1-2 Years)</h3>
                    <ul>
                        <li>Getting my diploma in IT</li>
                        <li>Find a place to work as a junior web developer, preferently arround Brussels</li>
                        <li>Keep working on personal projects that I am deeply passionate about (Klyja, video games)</li>
                        <li>
                            Keep learning new framework and technologies and staying up to date with the tools that can make me more productive
                        </li>
                        <li>Try to work as a freelance web developer and build a network of clients</li>
                        <li>Invest myself in FOSS projects related to my specialty like Zen or ladybird</li>
                        <li>Realease the 1.0 of Klyja</li>
                        <li>Ship my first indie video game</li>
                        <li>Reach HSK2 in chinese</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>Mid-Term Goals (3-5 Years)</h3>
                    <ul>
                        <li>Develop deep knowledge about lean and modern developement systems</li>
                        <li>Be a valuable asset to any team I might be a part of thanks to my experience and wide knowledge base</li>
                        <li>Try to invest myself in more advanced FOSS projects like Arch or Neovim</li>
                        <li>
                            Develop my side projects into real fleshed out product with regular users. Potentially gaining a profit from it and building a startup around it
                        </li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>Long-Term Vision (5+ Years)</h3>
                    <ul>
                        <li>
                            Work full time on my own projects (web applications, video games or others) with potentially of small team of trusted colleagues
                        </li>
                        <li>Have a deep knowledge about the most important developer tools</li>
                        <li>
                            Keep learning and staying up to date with new framework and technologies. And hopefully being a valuable contributor to some important FOSS projects
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
