<div class="activity-container">
    <div class="activity-header">
        <h1>Learning Arch Linux</h1>
    </div>
    <div class="activity-content">
        <h2>Fighting impostor syndrom</h2>
        <p>
            During my formation I quickly started to develop a gripe against the Windows OS and decided to switch to linux to gain more control over my computer, more precisely I made the switch to Linux Mint as it is a pretty popular OS and close to windows. The switch to mint was really positive, but after a few issues with the lack of documentation I decided to try Ubuntu, a far more popular OS in the hope of good and complete documentation. The result was that I discovered that I really didn't liked the GNOME WM. After some research I decided that I wanted to have full control of my computer and truely understand how it works and what is on it. Therefore both for the memeas well as the idea of good documentation and control, I decided to make the switch to arch linux.
        </p>
        <h2>The learning process</h2>
        <p>
            The first step of using arch linux was installing it. And while Arch had rolled an archinstall script to install the famous OS, for a reason that I still don't completly understand it didn't work on my computer. I therefore followed the step by step tutorial on the arch wiki. It took me around a week-end and 3 tries before finally managing to have a correct installation.
            In the spirit of my wish to understand my OS on a deeper level I decided to avoid heavy window managers like GNOME or KDE and opted for i3, a light tiling window manager.
            I had issues with pretty much everything that makes a computer usefull (bluetooth, audio, wifi connectivity, eduroam connection, hdmi screen expansion, screen brightness). But in the end fixing all those issues helped me learn a lot about how different parts of a computer work and having access to the Arch wiki was really helpfull.
            After having my OS under control I had the opportunity to dive into the wonderfull word of ricing and turning my my computer into something really tailored to my needs.
        </p>
        <h2>Key Takeaways</h2>
        <ul>
            <li>
                Gained a deeper understanding of how a computer work and realized that a lot of components that I took from part of an OS were actually there own softwares (window manager, terminal emulator, file manager and shell for example)
            </li>
            <li>
                After deciding to try and do most of the things in the terminal it helped me become really proficient at using the linux cli.
            </li>
            <li>
                Learned to use pacman and a rolling release distro. I also learned to use the AUR and manage installation of packages as tarfiles
            </li>
            <li>
                Learned a lot about the boot process of a linux computer and using systemd. I also learned to uptimize my boot process (13s)
            </li>
        </ul>
        <p>
            Switching to Arch and sticking to a lightweigt setup as given me a real appreciation for the arch philosophy and really made me able to manage a system a lot better. While I still have issues from time to time I keep learning a lot and gaining a deeper understanding about the inner workings of an operating system.
        </p>
    </div>
</div>
