<div class="activity-container">
    <div class="activity-header">
        <h1>Working in Construction</h1>
    </div>
    <div class="activity-content">
        <h2>Helping build a house</h2>
        <p>
            During the summer of 2024 I spent a week helping a friend of the familly who was building their house themselves. I helped laying tiles and pouring the cement.
        </p>
        <h2>What it brought me</h2>
        <ul>
            <li>
                The experience was really instructive as my boss was building his entire house himself and he tought me a lot about the process of building a house
            </li>
            <li>Helped me working in a team under direct authority, following orders and following instructions</li>
            <li>It was also a really good physical exercise and motivated me in trying to stay fit</li>
        </ul>
        <p>
            While very remote from the subject of IT, this experience working in construction really helped me gain a better understanding of the process of tackling large scale projects like homebuilding. It was also a really good exercise of teamwork and learned ma a lot.
        </p>
    </div>
</div>
