<div class="activity-container">
    <div class="activity-header">
        <h1>The blimp my ride hackaton</h1>
    </div>
    <div class="activity-content">
        <h2>Team project about bringing back blimps</h2>
        <p>
            The 2024 Hackaton at Ephec was about using IT to find inovations in the environemental sector. The theme of our project was the blimps, how to change their perceptions and trying to build an application to help blimp navigation
        </p>
        <h2>Outline of the project</h2>
        <p>
            Since we were a team pretty poor in web developer we focused mainly on the communication aspect of trying to bring the blimps back, why they were ecologically pertinent, why they fell out of fashion and what we could do to bring them back.
            But we also worked on a web application using a weather API
            to provide wind strenght and direction along the potential path a blimp could take.
            Our team ended up winning the prize of the most creative solution
        </p>
        <h2>What it thought me</h2>
        <ul>
            <li>
                The most exilerating part of the hackaton was probably to crunch, since it was my first time working intensly during a long period of time I really enjoyed the experience (but I am still going to try and find a workplace that avoids this kind of practices)
            </li>
            <li>
                This hackaton was also really instructive and thought me a lot about green solutions to current issues and initiatives that are trying to tackle the issues
            </li>
            <li>
                It was also a really good exercise in teamwork. As I was the most experienced web developer it gave me the opportunity to "tutor" students of BAC1, this helped me deepen my understanding of what I was trying to teach but also helped me realize the progress in developement I had made.
            </li>
            <li>I learned a lot about blimps</li>
        </ul>
        <p>
            This hackaton was an amazing experience, and while I was really tired at the end and our website was far from perfect I am really happy about the insight it gave me about my abilities.
        </p>
    </div>
</div>
