<div class="activity-container">
    <div class="activity-header">
        <h1>Beeing a math tutor</h1>
    </div>
    <div class="activity-content">
        <h2>You only really know something if you can explain it</h2>
        <p>
            As a student at ephec I had the opportunity to tutor BAC 1 students in a subject that I displayed a good mastery of. In my case that subject is mathematics, I have always loved it and the tutoring was for me a great oportunity to try and prove to myself that I really understand the concepts that I had been thought
        </p>
        <h2>What it thought me</h2>
        <ul>
            <li>
                The process of learning to pass a test is resally different than learning to explain a complexe topic to someone who is having trouble understanding it. I think it made me discover a new way to approach a topic.
            </li>
            <li>
                Learning to teach is also a subject that I have been deeply passionate about. And being able to explain in simple terms complex topics is something really important. I feel like this experience prepared me to work in a multidisciplinary team.
            </li>
        </ul>
    </div>
</div>
