<div class="activity-container">
    <div class="activity-header">
        <h1>Learning Neovim</h1>
    </div>
    <div class="activity-content">
        <h2>Trying to become a better developer without learning to develop</h2>
        <p>
            In the spirit of fighting the impostor syndrome as well as trying to do as much as possible in my terminal I decided to switch my code editor from the VSCode IDE (which i found really heavy and opqaue) to neovim.
        </p>
        <h2>turning a text editor into an IDE</h2>
        <p>
            One of my main issue with VSCode was that it felt too "magic" and that when things would not work out I didn't have the necesary knowledge to fix the issues at an editor level. Most of the time it would end in installing random plugins hoping to fix the issue.
            But by switching to neovim I had to create my configuration myself (At least it's what I decided to do in order to learn as much as possible). With the help of typecraft, TJDevries as well as neovim documentation and the book "practical Vim, Edit Text at the Speed of Thought" by Drew Neil I managed to turn neovim into a real IDE tailored to my needs and my coding style.
        </p>
        <h2>What I learned</h2>
        <ul>
            <li>I learned that learning to use vim/neovim comes with the curese of typing j,k absolutely everywhere</li>
            <li>
                I learned a lot about LSP, DAP, Linters and Formatters, things that were completely obscure to me before switching to neovim
            </li>
            <li>I learned a lot about vimscript to change the basic neovim configurations</li>
            <li>I learned the inner workings of text editors in general with buffers</li>
            <li>I also learned to use Lua to make my own scripts but we'll talk about that in an other section</li>
        </ul>
        <p>
            This journey has not only improved my speed as a developer but has also given me a powerful tool that I can shape to handle any programming task.
        </p>
    </div>
</div>
