<div class="activity-container">
    <div class="activity-header">
        <h1>Building my Own Computer</h1>
    </div>
    <div class="activity-content">
        <h2>Any game rite of passage</h2>
        <p>
            Building my own computer has been on my bucket list for a very long time, but it's only as an IT student that I finally got the motivation (and money) to tackle this project
        </p>
        <h2>Who would have believed, making an analysis</h2>
        <p>
            The first step of the process was to really try and gain a deeper understanding of how a computer works, how the different parts interact together, what would fulfill my needs as a gamer and what would fit into my budget. Multiple ressources like ltt tutorials, the r/pcmasterrace community on reddit and online component selector were a big help. I also had the chance of beeing able to ask advice to colleagues from Ephec to make sure that my build was sensible
        </p>
        <img src="https://media.discordapp.net/attachments/1110998907426709617/1383003945680502805/20230323_194542.jpg?ex=684d364b&is=684be4cb&hm=d7795ccf65957500eae2cbcc8979628d4c3b46372453ab48865a2057e6e9776d&=&format=webp&width=2121&height=1591"
             alt="Picture of the components"
             class="activity-image">
        <img src="https://media.discordapp.net/attachments/1110998907426709617/1383003946406379520/20230324_142015.jpg?ex=684d364b&is=684be4cb&hm=f759bea69a93becb0084e1f6707b71a8bf76b3859d803f123e9e56f4b0c78bf6&=&format=webp&width=2121&height=1591"
             alt="Picture of the build process"
             class="activity-image">
        <img src="https://media.discordapp.net/attachments/1110998907426709617/1383003944892235887/20230324_185303.jpg?ex=684d364b&is=684be4cb&hm=092d89a09f20967378a64a11c064d83a63124774f8a3c5eaf9acd6124b39f818&=&format=webp&width=1193&height=1591"
             alt="Picture of the finished computer open"
             class="activity-image">
        <img src="https://media.discordapp.net/attachments/1110998907426709617/1383003944208433162/20230324_193640.jpg?ex=684d364b&is=684be4cb&hm=60474c75368b723c77236c7c4516e1d4823e5e606ca969441a03dca1c2fb8e02&=&format=webp&width=1193&height=1591"
             alt="Picture of the finished computer closed"
             class="activity-image">
        <h2>Replacing the powersuply and increasing storage</h2>
        <p>
            Building the computer was a really rewarding process but something that really validated my decision to learn this skill was when i needed to repaire or upgrade my setup. Around a year after the build the power supply broke and with my newfound skills and cofidence (and amazon fast shipping) I was able to diagnose the issue, select a new, fitting power supply and install it in a record time.
            And when, as a proud game myself, came the day to upgrade my setup I had no issues doubling the Ram of my system or installing a new M2 SSD.
        </p>
        <h2>Skills that translate</h2>
        <p>
            When my father found an old 50euro computer I had no issues identifying the components, diagnosing issues and ultimately installing a new wifi card into the motherboard of the computer.
            This allowed me to pretty easily set up a small debian server under my desk
        </p>
        <img src="https://media.discordapp.net/attachments/1110998907426709617/1383003941771546654/20240703_001028.jpg?ex=684d364a&is=684be4ca&hm=8dbe7a1ca6f8c1ecca70b5d8a16e5a5d73ec2a236c06043cecaadf5f55dae359&=&format=webp&width=895&height=1591"
             alt="Picture of my trying to figure out the motherboard model of the 50e computer"
             class="activity-image">
        <h2>Skills Gained</h2>
        <ul>
            <li>Deeper understanding of modern computer components and their interactions</li>
            <li>Hardware troubleshooting skills and the hability to fix/upgrade a system</li>
            <li>Confidence and knowledge required to navigate specsheets of computer components</li>
            <li>Ability to navigate OS installation, BIOS updates and boot process debuging</li>
        </ul>
        <p>
            This learning process was extremely rewarding, not only by the fact that it ended with me having a new computer, but also because this allowed be to gain a deeper understanding of how things work. And ultimately the hability to control the tools I use every day in a more complete way
        </p>
    </div>
</div>
