<div class="activity-container">
    <div class="activity-header">
        <h1>Summary of Activities</h1>
    </div>
    <div class="activity-content">
        <p>
            Here is a summary of the time I've dedicated to my recent personal development activities. Each of these projects has been instrumental in building my technical and practical skills outside of my academic curriculum.
        </p>
        <table class="summary-table">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Estimated Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Learning Arch Linux</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Learning Neovim</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Learning Lua</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Building my Computer</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Working in Construction</td>
                    <td>10h</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td>Total Hours</td>
                    <td>50h</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
