<div class="activity-container">
    <div class="activity-header">
        <h1>Summary of Activities</h1>
    </div>
    <div class="activity-content">
        <p>
            Here is a summary of the various ultra-curicular activities I took on during my time at Ephec. I truely believe that each one of them has massively helped me improve as a developer and more broadly helped me feel more confident about entering the job market.
        </p>
        <table class="summary-table">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Estimated Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Learning Arch Linux</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Learning Neovim</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Learning Lua</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Building my Computer</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Math tutoring</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Working in Construction</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Hackaton</td>
                    <td>10h</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td>Total Hours</td>
                    <td>70h</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
